<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.pzforestserver.mapper.StatusMapper">

    <resultMap id="BaseResultMap" type="com.song.pzforestserver.entity.Status">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="mid" column="mid" jdbcType="INTEGER"/>
            <result property="idstr" column="idstr" jdbcType="VARCHAR"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="favorited" column="favorited" jdbcType="TINYINT"/>
            <result property="truncated" column="truncated" jdbcType="TINYINT"/>
            <result property="in_reply_to_status_id" column="in_reply_to_status_id" jdbcType="VARCHAR"/>
            <result property="in_reply_to_user_id" column="in_reply_to_user_id" jdbcType="VARCHAR"/>
            <result property="in_reply_to_screen_name" column="in_reply_to_screen_name" jdbcType="VARCHAR"/>
            <result property="thumbnail_pic" column="thumbnail_pic" jdbcType="VARCHAR"/>
            <result property="bmiddle_pic" column="bmiddle_pic" jdbcType="VARCHAR"/>
            <result property="original_pic" column="original_pic" jdbcType="VARCHAR"/>
            <result property="geo" column="geo" jdbcType="VARCHAR"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="retweeted_status" column="retweeted_status" jdbcType="VARCHAR"/>
            <result property="reposts_count" column="reposts_count" jdbcType="INTEGER"/>
            <result property="comments_count" column="comments_count" jdbcType="INTEGER"/>
            <result property="attitudes_count" column="attitudes_count" jdbcType="INTEGER"/>
            <result property="mlevel" column="mlevel" jdbcType="INTEGER"/>
            <result property="visible" column="visible" jdbcType="VARCHAR"/>
            <result property="pic_ids" column="pic_ids" jdbcType="VARCHAR"/>
            <result property="ad" column="ad" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,mid,idstr,
        text,source,favorited,
        truncated,in_reply_to_status_id,in_reply_to_user_id,
        in_reply_to_screen_name,thumbnail_pic,bmiddle_pic,
        original_pic,geo,user_id,
        retweeted_status,reposts_count,comments_count,
        attitudes_count,mlevel,visible,
        pic_ids,ad
    </sql>
</mapper>
